---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
import GitHub from '../icons/GitHub.astro';
import Linkedin from '../icons/Linkedin.astro';
import Pill from '../components/Pill.astro';
import Mail from '../icons/Mail.astro';
---

<Layout title="Ramón Martínez">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img class="rounded-full size-12 mb-4"
    		src="/Ramon2.png" alt="ramon photo">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"> Hey, I'm Ramón <a href="https://www.linkedin.com/in/ramon-martinez-rodriguez-b46930236/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Available for work</Badge></a>
			</h1>
			<h2 class="text-xl opacity-80 text-wrap">Junior programmer currently studying Game Design and Development at the University of Girona.</h2>
			<nav class="flex gap-x-3 mt-6">

				<Pill href="https://www.linkedin.com/in/ramon-martinez-rodriguez-b46930236">
					<Linkedin class="size-6"/>
					Linkedin
				</Pill>

				<Pill href="https://github.com/RaMaRo3">
					<GitHub class="size-6"/>
					GitHub
				</Pill>

				<Pill href="https://github.com/RaMaRo3">
					<Mail class="size-6"/>
					ramonmartinezrodriguez03@gmail.com
				</Pill>

			</nav>
		</section>
	</main>
</Layout>

<style>
	
</style>
