---
import UK from "../../icons/UK.astro"

---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href=".."><UK class="size-4 md:size-6" /> </a>
    </nav>
</header>